<!DOCTYPE html>
    <html>
    <head>
        
    </head>
    <body>
        @* Header *@
    <div class="header">
        Weather Dashboard
    </div>


    <div>
        @RenderBody();
    </div>

    </body>
    </html>
