<h1>This is About</h1>
@{
	ViewBag.Title = "About for partial";
	ListModels listModels	= new ListModels()
	{
		ListTitle = "About",
		Items = new List<string>() { "This is a sample about page.", "It demonstrates how to use partial views in ASP.NET Core MVC." }
	};
}
@await Html.PartialAsync("_PartialContent",listModels);