<div>
    @{
        foreach(var City in Model)
        {
            <div class="dashboard">
                <div class="tile">
                    <h2>@City.CityName</h2>
                    <div class="time">@(City.DateAndTime.ToString("hh:mm tt")) </div>
                    <div class="temp">@City.TemperatureFahrenheit</div>
                    <a href="/CityPage/@City.CityUniqueCode">Details</a>
                </div>
            </div>
        }
    }
</div>