@model ErrorListAndPersonRequest

<a href="/" class="link-hover">Back to Person List</a>
<h2>Create Person</h2>

<div class="w-50">
    <form asp-controller="Home" asp-action="AddingPerson" method="post">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input type="text" asp-for="PersonAddRequest.PersonName" class="form-input" />
            </div>
        </div>


        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input type="email" asp-for="PersonAddRequest.Email" class="form-input" />
            </div>
        </div>

        @*DateOfBirth*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input type="datetime" asp-for="PersonAddRequest.DateOfBirth" class="form-input" />
            </div>
        </div>

        @*Gender*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                <input type="radio" asp-for="PersonAddRequest.Gender" />
                <label for="Male">Male</label>

                <input type="radio" asp-for="PersonAddRequest.Gender" class="ml" />
                <label for="Female">Female</label>

                <input type="radio" asp-for="PersonAddRequest.Gender" class="ml" />
                <label for="Other">Other</label>
            </div>
        </div>

        @*Country*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label" for="CountryID">Country</label>
            </div>
            <div class="flex-1">
                <input type="text" asp-for="PersonAddRequest.CountryID" class="form-input" />
            </div>
        </div>


        @*Address*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="PersonAddRequest.Address" class="form-input"></textarea>
            </div>
        </div>

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>

                @if (Model.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in Model.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>
