@model string

@{
	ViewBag.Title = "Error";
}
<center>
	<h1>Error</h1>
	<h2>@Model</h2>
	<img style="position:absolute,top:center,left:center" src="https://th.bing.com/th/id/OIP.i2HoJnOZzWnndCt2j7p1YgHaHa?w=192&h=192&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" />
</center>