<form method="get" action="/">
<div class="box flex">
	<div class="flex-1">
		<select class="form-input" name="searchBy">
				<option value="null">Property</option>
		</select>
	</div>
	<div class="flex-1">
		<input class="form-input" type="search" id="search" placeholder="Search..." name="searchValue" value="@ViewBag.searchValue"/>
	</div>
	<div class="flex-1">
		<button class="button button-blue-back">Search</button>
		<a asp-action="Index" asp-controller="Home" class="link-hover">Clear All</a>
	</div>
</div>
</form>


