@model ListModels

<div class="city-list">
    <h2>@Model.ListTitle</h2>
    <ul>
        @{
            foreach (var item in Model.Items)
            {
                <li>
                    @item <span class="badge">@item</span>
                </li>
			}
        }
    </ul>
</div>
