@model string[]
@{
    ViewBag.Title = "Explore";
}


<div class="flex">
    <div class="flex-1">
        <div class="text-grey ml">
            <span>Stocks</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>Explore</span>
        </div>
    </div>

    <div class="flex-1 text-right">
    </div>
</div>


@{
    if (ViewBag.StockSymbol != null)
    {
        await Component.InvokeAsync("StockBox", new { stockSymbol = "AAPL" });
    }
}

<div class="flex stocks-list">
    <div class="flex-1" id="stocks-list">
        <div class="box">

            <div class="flex">
                <div class="flex-1">
                    <h4 class="text-grey mb">Stocks</h4>
                </div>

                <div class="flex-1 text-right">
                    <a href="~/Stocks/Explore?showAll=true" class="mr">Show all stocks</a>
                </div>
            </div>


            <div id="stockList" class="list">
                @foreach (string stock in Model)
                {
                            <a href="Home/AllStocks/@stock" class="stock">
                                @stock
                            </a>
                }
            </div>

            @if (Model.Length == 0)
            {
                <div class="mt text-blue">No stocks</div>
            }
        </div>

    </div>

    <div class="flex-1" id="stock-details">
        @if (ViewBag.stock != null)
        {
            <vc:selected-stock stock-symbol="@ViewBag.stock"></vc:selected-stock>
        }
    </div>
</div>
<script>
   //  console.log("hi");
   //  let stockcontainer = document.querySelector("#stockList");
   //  let stocks = document.querySelectorAll(".stock");

   //  stockcontainer.addEventListener("click",(event)=>{
   //      console.log("clicked")

   //      if(event.target.classList.contains("stock"))
   //      {
			// let stocksymbol = event.target.textContent.trim();
   //          let stockBox = fetch(`/Home/CreateStockBox?stockSymbol=${encodeURIComponent(stockSymbol)}`,method:"GET");
            
   //      }

   //  })
</script>
