@{
	string Name = "Banhi";
	long phone = 8877164293;
}

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Welcome</h1>
        <h2>@Name</h2>
        <h2>@phone</h2>
    </body>
    </html>